body {
    background: none;
    background-color: rgb(240, 240, 240);
}

#deleteModal .modal-content {
    width: 500px;
}

#donateModal .modal-content {
    width: 550px;
}

.modal.show .modal-dialog, .modal.fade .modal-dialog, .modal-dialog {
    width: 600px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.btnFormat {
    background-color: #379683;
    color: #EDF5E1;
}

.flex-container {
    display: flex;
    padding: 10px;
}

.flex-child {
    flex: 1;
}

.inputs {
    padding: 22px;
    width: 90%;
}

.foodTypeInput {
    padding: 0 8px;
    height: 48px;
}

.container {
    height: 85vh;
}

.table-wrapper {
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.table-title {
    background: linear-gradient(to right, #379683, #8EE4AF);
    color: rgb(255, 255, 255);
    margin: -1rem -1.25rem 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.clearfix p {
    margin: 0;
    margin-left: 0.5rem;
}

.pagination {
    float: right;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

.pagination li a {
    border: none;
    font-size: 0.75rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    background-color: transparent;
    color: #379683;
    border: 1px solid #379683;
    border-radius: 1px;
    text-align: center;
    line-height: 1.25rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.pagination li a:hover {
    color: #379683;
    background-color: #cee0d6;
    border: 1px solid #379683;
}

.page-item.active .page-link {
    background-color: #379683;
    border-color: #379683;
}

.modal-body form {
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
}

option:nth-child(n):hover {
    background: #379683;
    color: rgb(255, 255, 255);
}

.amount-input {
    width: 65%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 1px solid rgb(190, 190, 190);
}

.unit-input {
    width: 25%;
    padding: 22px 1rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid rgb(190, 190, 190);
}

.amount-input, .unit-input {
    margin: 0;
}

.alert-success, .alert-danger {
    top: 0;
    right: 0;
    margin-top: 5rem;
    margin-right: 0.5rem;
    z-index: 1;
    max-width: 45%;
    text-align: start;
    font-size: 1rem;
    display: none;
}