#deleteModal .modal-content {
    width: 500px;
}

#donateModal .modal-content {
    width: 550px;
}

.btnFormat {
    background-color: #379683;
    color: #EDF5E1;
}

.flex-container {
    display: flex;
    padding: 10px;
}

.flex-child {
    flex: 1;
}

.inputs {
    padding: 22px;
    width: 90%;
}

.foodTypeInput {
    padding: 0 8px;
    height: 48px;
}

.container {
    height: 85vh;
}

.modal-body form {
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
}

option:nth-child(n):hover {
    background: #379683;
    color: rgb(255, 255, 255);
}

.amount-input {
    width: 65%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 1px solid rgb(190, 190, 190);
}

.unit-input {
    width: 25%;
    padding: 22px 1rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid rgb(190, 190, 190);
}

.amount-input, .unit-input {
    margin: 0;
}