form {
    width: 90%;
    height: 90%;
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active{
    color: #fff;
    background-color: #379683;
    border-color: #379683;
}
.btn-outline-success {
    color: #379683;
    border-color: #379683;
}
.btn-outline-success:hover {
    background-color: #379683;
    border-color: #379683;
}

.labelType{
    width: 45%;
    font-size:100%;
    margin: 10px 0 10px 0;
}

.inputs{
    width: 90%;
    padding: 22px;
    margin: 10px 0 10px 0;
}
/*
.inputCidade {
    width: 57%;
    margin: 0;
}
.inputBairro{
    width: 33%;
    padding: 0 20px 0 20px;
    height: 46px;
    margin: 0;
}

.inputRua{
    width: 55%;
    margin: none;
    // margin-right: 25px;
}
.inputUF {
    width: 100%;
}
.inputNum {
    padding: 0 20px 0 20px;
    width: 20%;
    height: 46px;
    margin: none;
} */


.buttonform {
    width: 85%;
}

.error_msg {
    width: 90%;
    padding-left: 35px;
    display: none;
    text-align: left;
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
}