form {
    max-height: 900px;
    border-radius: 0;
    width: 80%;
    height: 80%;
}

.cadastro-div {
    position: relative;
    height: 100%;
    display: flex;
    width: 100%;
}

.column1, .column2 {
    width: 50%;
}

.typeDiv{
    border: none;
    background: transparent;
    width: 80%;
    border-bottom: 1px solid #01937C;
    padding-left: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.typeDiv:focus{
    outline: 0;
    border-bottom: 2px solid #01937C;
}

.inputs{
    border: none;
    height: 35px;
    background: transparent;
    width: 80%;
    border-bottom: 1px solid rgb(1, 147, 124);
    padding-left: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.inputs::placeholder{
    font-size: 20px;
    color: rgb(1, 147, 124);
}

.inputs:focus::placeholder{
    color: rgb(1, 147, 124);
    font-size: 23px;
}

.inputs:focus{
    outline: 0;
    border-bottom: 3.5px solid rgb(1, 147, 124);
    font-size: 23px;
}

.firstInput {
    width: 50%;
}

.secondInput {
    width: 30%;
}