form {
    width: 85%;
    height: auto;
    padding: 22px;
}

.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active{
    color: #fff;
    background-color: #379683;
    border-color: #379683;
}
.btn-outline-success {
    color: #379683;
    border-color: #379683;
}
.btn-outline-success:hover {
    background-color: #379683;
    border-color: #379683;
}

.labelType{
    width: 45%;
    font-size:100%;
    margin: 10px 0 10px 0;
}

.inputs{
    width: 100%;
    padding: 22px;
    margin: 10px 0 10px 0;
}

.buttonform {
    width: 95%;
}

.error_msg {
    width: 90%;
    padding-left: 35px;
    display: none;
    text-align: left;
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin-top: -5px;
}

.divcadastro {
    padding: 0 3%;
}