.chart {
    border-radius: 0.5rem;
    margin: 0 0.5rem 1rem 0.5rem;
    width: 48%;
    background-color: #fff;
    padding: 0;
}

.chart h2 {
    background: linear-gradient(to right, #379683, #8EE4AF);
    color: #fff;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
}