body {
  background: #D4EDD5 !important;
  height: 100%;
}

#nav {
  position: fixed;
}

.banner {
  height: 80%;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  border: 3px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: white;
}

.dark-img {
  opacity: 0.5;
  min-height: 100%;
}

.carousel-inner {
  height: 100%;
}

.crs {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}

.crs-content {
  text-shadow: 2px 2px 8px white;
}

.crs img {
  height: 70%;
  position: absolute;
  object-fit: cover;
}

.crs-inseguranca, .crs-desperdicio {
  object-position: 10% 10%;
}

.crs-lei {
  object-position: 10% 35%;
}

.crs-algorithm {
  object-position: 10% 20%;
}

.crs-shadow {
  box-shadow: inset 3px 4px 5px #379683;
}

.div-fluxo {
  width: 95%;
  margin: auto;
}

.fluxo {
  background-color: rgba(255,255,255,0.3);
  border: 2px;
  margin: 2px;
  padding: 10px;
  border-style: solid;
  border-color: white;
}

.info {
  text-align: justify;
}

.info-title {
  font-size: 3rem;
  padding-bottom: 0rem;
  border-bottom: 4px solid #379683;
  text-align: start;
}

.circle-div {
  width: 170px;
  height: 170px;
  padding: 0;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.img-algorithm {
  max-width: 600px;
  max-height: 350px;
}

.icon {
  font-size: 5rem;
  color: #379683;
}

.icon-circle {
  width: 140px;
  height: 140px;
  border: 5px solid #379683;
  border-radius: 50%;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #56C290;
}