body{
  background: #D4EDD5 !important;
}

.banner{
  height: 400px;
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  border: 3px;
  margin-bottom: 5%;
  padding:30px;
  border-style: solid;
  border-color: white;
}

.fluxo{
  height: 400px;
  width: 95%;
  background-color: rgba(255,255,255,0.3);
  border: 3px;
  margin: 2px;
  padding:30px;
  border-style: solid;
  border-color: white;

}


.div-objetivos{
  margin: auto 50% 5% 50%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}

.objetivos{
  display: flex;
  grid-template-columns:  repeat(3, 310px);
}

.propag{
  height: 150px;
  width: 300px;
  border: 3px;
  border-style: solid;
  background-color: rgba(255,255,255,0.3);
  margin: 10px;
  border-color: white;
}

.div-ceos{
  margin: 50% 50% auto 50%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}

.ceos{
  display: flex;
  grid-template-columns:  repeat(3, 310px);
}

.card{
  height: 200px;
  width: 150px;
  border: 3px;
  border-style: solid;
  background-color: rgba(255,255,255,0.3);
  margin: 10px;
  border-color: white;
}