form {
    max-width: 500px;
    max-height: 480px;
}

.login-div {
    position: relative;
    height: 90%;
    display: flex;
}

.input-div {
    display: block;
    align-items: center;
}

.login-icon {
    position: absolute;
    color: rgb(1, 147, 124);
    padding: 16px;
}

.inputUser{
    border: 2px solid rgb(203, 203, 203);
    height: 35px;
    background: transparent;
    width: 80%;
    /* border-bottom: 1px solid rgb(1, 147, 124); */
    padding: 24px 24px 24px 44px;
    margin: auto;
    border-radius: 4px; 
    color: rgb(1, 147, 124);
}

.inputUser::placeholder{
    color: rgb(1, 147, 124);
}

.inputUser:focus::placeholder{
    color: rgb(1, 147, 124);
    font-weight: 500;
    font-size: 23px;
}

.inputUser:focus{
    outline: 0;
    border: 2.5px solid rgb(1, 147, 124);
    font-size: 23px;
}

.linkPw {
    color: rgb(1, 147, 124);
    text-decoration: none;
    font-style: italic;
}

.linkPw:hover {
    color: rgb(1, 147, 124);
}

.newAccount-div {
    display: flex;
    justify-content:center;
}

.newAccountText {
    color: rgb(140, 140, 140);
    padding: 5px;
}

.newAccountLink {
    text-decoration: none;
    color: rgb(1, 147, 124);
    padding: 5px;
}

.newAccountLink:hover {
    color: rgb(1, 147, 124);
}