body {
    background: linear-gradient(to right, #379683A0, #8EE4AFA0),url("../imgs/background.png") !important;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

form {
    max-width: 500px;
    max-height: 480px;
}

.login-div {
    position: relative;
    height: 90%;
    display: flex;
}

.input-div {
    display: block;
    align-items: center;
}

.login-icon {
    position: absolute;
    color: #379683;
    padding: 16px;
}

.linkPw {
    color: #379683;
    text-decoration: none;
    font-style: italic;
}

.linkPw:hover {
    color: #379683;
}

.newAccount-div {
    display: flex;
    justify-content:center;
}

.newAccountText {
    color: rgb(140, 140, 140);
    padding: 5px;
}

.newAccountLink {
    text-decoration: none;
    color: #379683;
    padding: 5px;
}

.newAccountLink:hover {
    color: #379683;
}