body,html {
  height: 100%;
}

/* * {
  box-sizing: border-box;
} */

.bg-image {
  background: linear-gradient(to right, rgb(29, 151, 108, 0.45), rgb(147, 249, 185, 0.65)),
  url("../imgs/background.png"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
   /* -webkit-filter: blur(1px); */
}

.body{
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar{
  background-image: linear-gradient(to right, rgb(29, 151, 108), rgb(147, 219, 185));
  display: flex;
  justify-content: space-between;
}

nav {
  position: sticky;
}